.form-fields {
 max-width: 1000px;
 &__row {
  @include row-flex();
  margin-left: -10px;
  margin-right: -10px;
  &--flex-end {
   align-items: flex-end;
  }
 }

 &__col {
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  margin-bottom: 20px;

  @include sm-block() {
   flex: auto;
  }
 }

 &__captcha {
  text-align: center;
 }
}

// FORM STYLES

// buttons, submit
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
 cursor: pointer;
}

button[disabled],
input[disabled] {
 cursor: default;
 pointer-events: none;
 opacity: 0.5;
}

//

input,
select,
textarea {
 color: inherit;
 font: inherit;
 margin: 0;
}

label {
 display: block;
 line-height: 1.1;
 font-size: 12px;

 sup {
  color: $danger-color;
 }
}

input[type="radio"] + label,
input[type="checkbox"] + label {
 margin: 0;
 font-weight: 400;
}

input {
 line-height: normal;
}

textarea {
 line-height: 1.25em;
}

select {
 border: $field-border-width solid $field-border-color;
 background-color: $field-bg;
 padding-right: 30px;
 appearance: none;

 &::-ms-expand {
  display: none;
 }
}

select[size],
select[multiple] {
 height: auto;
}

.select {
 position: relative;

 select {
  margin: 0;
  cursor: pointer;
 }

 &--after-none {
  &:after {
   display: none !important;
  }
 }

 &:after {
  content: "";
  width: 13px;
  height: 6px;
  background: svg-load("../icons/select-after.svg", fill=$primary-color);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  pointer-events: none;
 }

 &--radius {
  select {
   border-radius: 25px;
  }
 }

 &--line-gray {
  select {
   background: transparent;
   border: solid 1px #bababa;
  }
 }
}

input[type="checkbox"],
input[type="radio"] {
 box-sizing: border-box;
 padding: 0;
 display: block;
}

input[type="search"] {
 -moz-box-sizing: content-box;
 -webkit-box-sizing: content-box;
 box-sizing: content-box;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
 height: 42px;
 border: 1px solid #ccc;
 outline: none;
}
.chosen-container-active .chosen-choices {
 border-color: #555;
}
.chosen-container .chosen-results li.highlighted {
 background: $primary-color;
 color: #fff;
}

input:not([type="checkbox"]),
input:not([type="radio"]),
select,
textarea,
.select-color {
 border: $field-border-width solid $field-border-color;
 border-radius: $field-radius;
 background: $field-bg;
 vertical-align: middle;
 box-sizing: border-box;
 width: 100%;
 padding-left: 15px;
 height: $field-height;
 font-size: 12px;
 font-weight: 400;
 overflow: hidden;
 transition: all 0.2s ease;
 background: $field-bg;

 &:last-child {
  margin-bottom: 0;
 }

 &::placeholder {
  color: rgba(#000, 0.3);
 }

 &:hover {
  border-color: rgba(#000, 0.3);
 }

 &:focus {
  border-color: rgba(#000, 0.6);
 }

 &.field-stroke {
  border: none;
  background: transparent;
  padding-left: 0;
  font-size: 18px;
  height: 35px;
  border-radius: 0;
  border-bottom: 2px solid #cddae2;
 }

 &.field-border {
  background: #fff;
  color: rgba(#274f6e, 0.6);
  border-color: #b4d0df !important;
 }
}

textarea {
 height: 120px;
 padding-top: 10px;
}

input[type="color"] {
 padding: 0;
}

input[type="color"] {
 width: $field-height;
 height: $field-height;
}

.field {
 position: relative;
 $parent: &;
 &__cross {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
   svg {
    fill: $primary-color;
   }
  }
  svg {
   width: 13px;
   height: 13px;
  }
 }
 .messages {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #bbb;
 }

 label:not(.select) {
  margin-bottom: 8px;
  font-weight: 400;
  color: #000;
  font-size: 12px;

  br {
   @include sm-block() {
    display: none;
   }
  }
 }
 &__select-and-input {
  #{ $parent}__group {
   display: none;
  }
 }
 &__group {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  &.show {
   display: flex;
  }

  .select {
   flex-shrink: 0;

   select {
    border-color: transparent !important;
   }
  }

  & > * {
   &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   }

   &:last-child {
    border-top-right-radius: $field-radius;
    border-bottom-right-radius: $field-radius;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: 15px;
   }
  }
 }

 &--error {
  color: $field-color-danger;

  * {
   border-color: $field-color-danger !important;
  }

  // checkbox & radio error styles
  .checkbox,
  .radio {
   span {
    &:before {
     border-color: $field-color-danger;
    }
   }
  }
 }
}

input[readonly],
select[readonly],
textarea[readonly] {
 background-color: $border-light;
 color: $neutral-primary;
 border-color: $field-border-color;
}

// input:invalid,
// textarea:invalid,
// select:invalid {
//     color: $field-color-danger !important;
//     border-color: $field-color-danger !important;
// }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 margin: 0;
}

/* Firefox */
// input[type="number"] {
//   -moz-appearance: textfield;
// }

.select-color {
 display: flex;
 align-items: center;
 justify-content: space-between;
 text-decoration: underline;
 cursor: pointer;
 img {
  width: 20px;
  margin-left: 10px;
  margin-right: 15px;
  border: solid 1px $field-border-color;
 }
 &.disabled {
  opacity: 0.4;
  pointer-events: none;
 }
}
